/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
   */
   .registration{
    width: 100%;
    padding: 60px 20px;
    /* background-color: #edf2f4; */
    text-align: center;
   }
  .registration-container {
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 100px auto;
   
  }
  
  .registration-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2b2d42;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea, select {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
   
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .question {
    margin-bottom: 1rem;
  }
  
  .answer-select {
    margin-left: 10px;
  }
  .submit-button {
    padding: 12px 30px;
    font-size: 16px;
    background-color: #ef233c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #d90429;
  }
  