.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure it covers full width */
  position: fixed; /* Make it fixed at the top */
  top: 0; /* Position it at the top */
  left: 0; /* Align to the left */
  z-index: 1000; /* Keep it above other content */
}

body {
  margin: 0; /* Remove default margin */
}

.logo {
  font-size: 24px;
  color: #edf2f4;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: #edf2f4;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: left;
}

.nav-links a:hover {
  color: #ef233c;
}

.nav-links svg {
  margin-right: 8px;
}
.logoImage{
  width: 60px;
  height: 60px;
}